<%inherit file="/base.html" />
<%def name="title()">Login</%def>
<h1>豆瓣花名册</h1>
<br>
<img src="/static/img/6.jpg" usemap="#Map" width="500" height="332"  />
<br>
<br>
<a class="btn btn-large btn-primary" href="${req.signin_url}">用豆瓣内网账户登陆</a>
<p class="text-info" style="padding:5px 0px">如果不能登录请发信给bear@douban.com ^O^</p>
<div style="position:fixed;background:#f7f7f7;bottom:0;left:0;right:0;padding:10px 0 10px 200px;">
developer: <a href="http://www.douban.com/people/bear/">bear</a>, designer: <a href="http://www.douban.com/people/whshang/">whshang</a>, powered by <a href="http://code.dapps.douban.com/me">CODE</a>.
</div>
